@using Threax.AspNetCore.AuthCore;
@inject Threax.ProgressiveWebApp.DisplayConfig config;
@model AppTemplate.Views.EntryPageModel
<!DOCTYPE html>
<html>
<head>
    <style csp-nonce>html{visibility:hidden;opacity:0;background-color: #222;}</style>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content(config.Favicon)" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @config.SiteName</title>
    <asset-bundle src="~/bundle.min.css"></asset-bundle>
    @RenderSection("css", required: false)
    <link rel="manifest" href="@Url.Content("~/webmanifest.json")">
</head>
<body>
    @if (Model != null && Model.EntryJson != null)
    {
    <script type="text/javascript" csp-nonce>
        window.hr_config = (function (next) {
            return function (config) {
                config.user = {
                    "EntryPoint": @Html.Raw(Model.EntryJson)
                };
                return next ? next(config) : config;
            }
        })(window.hr_config);
    </script>
    }
    <script type="text/javascript" src="@Url.CacheUiActionLink(nameof(AppTemplate.Controllers.HomeController.Header), typeof(AppTemplate.Controllers.HomeController))"></script>
    <div class="container body-content mt-3">@RenderBody()</div>
    <script type="text/javascript" src="@Url.CacheUiActionLink(nameof(AppTemplate.Controllers.HomeController.Footer), typeof(AppTemplate.Controllers.HomeController))"></script>
    <client-config csp-nonce></client-config>
    <style csp-nonce>html{visibility:visible;opacity:1;}
    </style><asset-bundle src="~/bundle.min.js"></asset-bundle>@RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/lib/hr-run.js" asp-append-version="true"></script><threax-csp></threax-csp>
</body>
</html>