@using Threax.AspNetCore.AuthCore;
@inject Threax.ProgressiveWebApp.DisplayConfig config;
<!DOCTYPE html>
<html>
<head>
    <style csp-nonce>
        html {
            visibility: hidden;
            opacity: 0;
            background-color: #222;
        }
        iframe {
            width: 1px;
            min-width: 100%;
        }
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content(config.Favicon)" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @config.SiteName</title>
    <asset-bundle src="~/bundle.min.css"></asset-bundle>
    @RenderSection("css", required: false)
    <link rel="manifest" href="@Url.Content("~/webmanifest.json")">
</head>
<body>
    @RenderBody()
    <div class="container">
        <hr />
    </div>
    @* this line fills in the client config using the tag helper and what has been defined in the di *@
    <client-config csp-nonce></client-config>
    <script csp-nonce>
        window.hr_config = (function (next) {
            return function (config) {
                config.page = {
                    "AlwaysRequestLogin": false
                };
                return next ? next(config) : config;
            }
        })(window.hr_config);
    </script>
    <style csp-nonce>
        html {
            visibility: visible;
            opacity: 1;
        }
    </style>
    <script type="text/javascript" src="~/lib/iframe-resizer/js/iframeResizer.js" asp-append-version="true"></script>
    <asset-bundle src="~/bundle.min.js"></asset-bundle>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/lib/hr-run.js" asp-append-version="true"></script>
    <threax-csp></threax-csp>
</body>
</html>